.container {
  width: 95vw;
  max-width: 25rem;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
}

.left,
.right {
  background-color: #fff;
  padding: 1rem;
}

/*  ==============
 *  Left container
 *  ==============
 */

.left {
  border-radius: 0.5rem 0.5rem 0 0;
}
.left ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.left li {
  list-style: none;
  width: 100%;
}

.left button {
  position: relative;
  z-index: 2;
  border: none;
  background-color: transparent;
  padding: 0.5rem 1rem;
}

.left button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: -1;
  background-color: #ddd;
}

.left .active::before {
  background-color: var(--c-blue);
}

.left button:hover::before {
  width: 100%;
}

.icons {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 0.5rem 0 0;
}

/*  ===============
 *  Right container
 *  ===============
 */

.right {
  position: relative;
  border-radius: 0 0 0.5rem 0.5rem;
}

.hide {
  display: none;
  position: absolute;
  opacity: 0;
}

.show {
  display: block;
  position: relative;
  animation: show 0.25s forwards;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
