
.icon{
  width: 1.24rem;
  height: 1.24rem;
  color: rgb(248, 248, 248);
}

.follow {
  background-color: #89b2ff;
  border-radius: 4px;
  color: #fff;
  margin: 0 0 1em 0;
  border: none;
  padding: 0.5em;
  transition: all 0.25s;
  max-width: max-content;
}
.follow:hover {
  background-color: var(--c-blue);
}

.unfollow{
  background-color: var(--c-red);
  border-radius: 4px;
  color: #fff;
  margin: 0 0 1em 0;
  border: none;
  padding: 0.5em;
  transition: all 0.25s;
  max-width: max-content;	
}
.unfollow:hover{
  background-color: #c91d1d;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  background-color: #000a;
}
.followers{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.followers img{
  width: 2em;
  margin-right: 1em;
}

