.container {
	position: relative;
}

.follow {
  background-color: #89b2ff;
  color: #fff;
  margin: 0 0 1em 0;
  border: none;
  padding: 0.5em;
  transition: all 0.25s;
  max-width: max-content;
}
.follow .unfollow:hover {
  background-color: var(--c-blue);
}

.unfollow{
  background-color: var(--c-red);
  color: #fff;
  margin: 0 0 1em 0;
  border: none;
  padding: 0.5em;
  transition: all 0.25s;
  max-width: max-content;	
}
