.App {
  --c-light: #f0f0f0;
  --c-dark: #1e1e1e;

  --hue-blue: 198;

  --c-light-blue: hsl(198, 45%, 65%);
  --c-blue: hsl(198, 40%, 49%);
  --c-mix: #7f69a3;
  --c-enfasis: #a04972;
}

.container {
  width: 95vw;
  margin: 0 auto;
}

* {
  outline: none;
  box-sizing: border-box;
}

.wrapper {
  width: 450px;
  background: var(--c-light);
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.wrapper .input-data {
  height: 40px;
  width: 100%;
  position: relative;
}

.wrapper .input-data input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label {
  transform: translateY(-20px);
  font-size: 15px;
  color: var(--c-blue);
}

.wrapper .input-data label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: var(--c-light);
  pointer-events: none;
  transition: all 0.3 ease;
}
