.App {
  --c-light: #f0f0f0;
  --c-dark: #1e1e1e;

  --c-lightPost: #ffffff;

  --hue-blue: 198;

  --c-soft-blue: hsl(226deg, 100%, 95%);
  --c-blue: hsl(226deg, 100%, 70%);
  --c-hard-blue: hsl(226deg, 100%, 50%);
  --bs-blue: 0 0.25rem 0.25rem hsla(226deg, 100%, 50%, 25%);

  --c-red: #c94f4f;
  --c-mix: #7f69a3;
  --c-enfasis: #a04972;

  background-color: #f5f5f5;
  min-height: 100vh;
}

.container {
  width: 95vw;
  margin: 0 auto;
}

* {
  outline: none;
  box-sizing: border-box;
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form .buttonContainer {
  margin: 2em 0 0 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff !important;
}

form > h1 {
  margin: 0 0 0.5em 0;
  color: #1e1e1e;
}

label {
  margin: 1em 0 0 0;
  font-size: 0.9rem;
  width: 100%;
}

label input,
label textarea {
  padding: 0.75em;
  border: none;
  width: 100%;
  font-size: 0.9rem;
  border: none;
  background-color: #fff;
  resize: none;
}

form span {
  color: #f55;
  font-size: 0.9rem;
  margin: 0.25em 0 0 0;
}

.btn {
  padding: 1em;
  text-align: center;
  font-size: 1rem;
}

button[type="submit"] {
  border-radius: 5em;
  border: none;
  color: #fff;
  background-color: var(--c-blue);
}

.input-group {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 0 0 0 1em;
  border-radius: 4px;
  overflow: hidden;
}
.input-group:focus-within {
  outline: 2px solid var(--c-blue);
}
.input-group:focus-within.error {
  outline: 2px solid red;
}

.btn.simple {
  text-decoration: none;
  align-self: flex-end;
  padding: 0;
  color: #1e1e1e;
  font-size: 0.8rem;
}

button {
  display: flex;
  width: 100%;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

a {
  color: #1e1e1e;
  text-decoration: none;
  font-size: 0.9rem;
}

.message {
  display: flex;
  align-items: center;
  justify-items: center;
  width: max-content;
  height: 3em;
  border-radius: 0.25rem 0.25rem 0 0;
  position: fixed;
  bottom: 0;
  right: 1rem;
  z-index: 999;
  background-color: #fff;
  padding: 1rem 4rem;
  transition: all 0.5s ease;
  border: 2px solid var(--c-blue);
  border-bottom: none;
}

.message > span {
  margin: 0 0 0 1em;
}

.avatar {
  object-fit: cover;
  object-position: center;
  width: 3em;
  height: 3em;
  border-radius: 100%;
}

.errors {
  position: absolute;
}
