/*.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 550px;
    align-items: center;
    margin-left: 20px;
  }
  .input{
    
    margin-left: 200px;
  }
  .errores{
    color:red;
    font-size: 0.8em;
    width: auto;
    height: auto;
  }

  input{
    margin-left: 10px;
  }
  label{
    margin-left: 30px;
  }
  textarea{
    margin-left: 10px;
    margin-top: 100px;
  }
  */

