.container {
    --p: 5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    margin: 0 0 0 auto;
    background-color: #fff;
    padding: 1.5em;
    min-width: 300px;
    min-height: 400px;
  }
  
  .container {
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0.25em 1em #0002;
  }
  
  .container > form {
    padding: 2.5em 5em;
  }
  
  .container button[type="submit"] {
    border-radius: 0;
  }
  
  .container label {
    display: block;
    margin: 1em 0 0 0;
  }
  .container > h2 {
      border-bottom: 2px solid transparent;
      border-color: var(--c-blue);
      width: 100%;
      text-align: center;
      padding-bottom: 0.2em;
  }
  .dots {
    margin: 1em 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .dot {
    display: block;
    list-style: none;
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
    background-color: #aaa;
    cursor: pointer;
    transition: all 0.25s ease;
  }
  .active {
    cursor: default;
    background-color: var(--c-blue);
    width: 1em;
    height: 1em;
  }
  .wrapper > div {
    margin: 0;
    padding: 0;
    border: none;
  }
  .submit {
    border: none;
    border: 2px solid #aaa;
    margin: 1em 0 0 0;
    padding: 1em;
  }