.container {
  --p: 5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  margin: 0 0 0 auto;
  background-color: #fff;
}

.container {
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 0.25em 1em #0002;
}

.container > form {
  padding: 2.5em 5em;
}

.container button[type="submit"] {
  border-radius: 0;
}

.container label {
  margin-top: 1em !important;
}
