.home {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(120px, max-content));
  width: 75vw;
  margin: 0 auto;
  gap: 3em;
}

.home li {
  list-style: none;
}
.home section {
  width: 100%;
  margin: 0 auto;
}

.home section:last-child {
  text-align: right;
}

.home section:last-child > div {
  background-color: #fff;
  margin-top: 2em;
  border-radius: 10px;
  padding: 1em;
}

.home section {
  margin: 1em auto;
}

.sectionPosts {
  max-width: max-content;
  margin: 0 auto;
}

.noScroll {
  max-height: calc(100vh - 4em);
  overflow: hidden;
}

.newPost {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  background-color: #000a;
}

.newPostBtn {
  position: fixed;
  left: 5%;
  top: 40%;
  z-index: 2;
}

.newPostBtn button {
  margin-top: 4%;
  width: 18vw;
  height: 6vh;
  background-color: #4a9bbd;
  border-radius: 4px;
  color: white;
  border: none;
  font: inherit;
  padding: 0;
  cursor: pointer;
}

.cargando {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--c-light);
  text-align: center;
  font-size: 1.25rem;
  min-height: 7em;
}
