.home {
  overflow-y: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 75vw;
  margin: 0 auto;
  gap: 1em;
}

.home li {
  list-style: none;
}
.home section {
  min-width: 320px;
}

.home section:last-child {
  background-color: red;
  text-align: right;
}

.home section {
  margin: 2em auto;
}

.sectionPosts {
  max-width: max-content;
  margin: 0 auto;
}

.noScroll {
  max-height: calc(100vh - 4em);
  overflow: hidden;
}

.newPost {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  background-color: #000a;
}

.newPostBtn {
  position: fixed;
  left: 5%;
  top: 40%;
  z-index: 2;
}

.newPostBtn button {
  margin-top: 4%;
  width: 18vw;
  height: 6vh;
  background-color: #4a9bbd;
  border-radius: 4px;
  color: white;
  border: none;
  font: inherit;
  padding: 0;
  cursor: pointer;
}

.cargando {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--c-light);
  text-align: center;
  font-size: 1.25rem;
  min-height: 7em;
}

@media screen and (max-width: 1400px) {
  .home {
    width: 90vw;
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 1200px) {
  .home {
    width: 95vw;
    grid-template-columns: auto auto;
  }
  .home section:last-child {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .home {
    width: 80vw;
    grid-template-columns: auto auto;
  }

  .home section:last-child {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .home {
    width: 98vw;
    grid-template-columns: auto;
  }

  .home section:first-child {
    display: none;
  }

  .home section:last-child {
    display: none;
  }
}
