@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Shippori+Antique+B1&display=swap");

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

#popupBody {
  width: 88%;
  height: 80%;
  padding: 2%;
  border-radius: 15px;
  box-shadow: 0 0 5px #ccc;
  background: #fff;
  position: relative;
  margin: 7% auto;
  transition: all 5s ease-in-out;
  font-family: "Shippori Antique B1", sans-serif;
}

#cerrar {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  transition: all 200ms;
}

.popupContent {
  width: 100%;
}

.child {
  width: 7rem;
  height: 2.5rem;
  float: right;
}

.test {
  float: left;
  width: 6rem;
  height: 2.5rem;
  margin-left: 1rem;
  background-color: rgb(1, 122, 11) !important;
  font-family: "Shippori Antique B1", sans-serif;
  font-size: 1rem;
}

.result {
  font-family: "Shippori Antique B1", sans-serif;
  float: left;
  margin: 0.1rem 1rem;
}

.start {
  height: 2.5rem;
  font-size: 0.98rem;
}
