.container * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: left;
}

hr {
  width: 100%;
  border: 1px solid white;
}

.container {
  --c-tags: #4a90ae;
  --c-bg: #f0f0f0;
  --c-avatar-bg: #9fdfdb;
  --c-font: #1e1e1e;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 25em;
  margin: 1em auto 1em auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--c-bg);
}

.avatar {
  background-color: var(--c-avatar-bg);
  box-shadow: 0 4px 7px rgba(22, 22, 22, 0.25);
  border-radius: 100%;
}
.userContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 1em 0 1em 1em;
}

.userContainer > div {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 1em;
}
.userContainer .username {
  font-weight: bold;
}
.userContainer .github {
  margin-top: 0.25em;
  font-size: 0.9rem;
}

.postBody {
  margin: 0 1em 0 1em;
}

.mainContent {
  position: relative;
  max-height: 4.5em;
  overflow-y: hidden;
  transition: all 0.25s;
  margin: 0 auto;
}

.expand {
  max-height: max-content;
}

.text {
  font-size: 1rem;
  line-height: 1.45rem;
  margin: 0.5em 0 0 0;
}

.seeMore {
  z-index: 3;
  background-color: #f0f0f0;
  padding: 0 0 0 0.5em;
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  color: #5aa;
  cursor: pointer;
  align-self: flex-end;
  transition: all 0.25s;
}
.seeMore > span {
  margin-right: 0.25rem;
}
.seeMore:hover {
  color: #055;
}

.postImage {
  width: 100%;
  margin: 2em 0 1em 0;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em;
}

.tags > li {
  list-style: none;
  padding: 0.25em 1em;
  font-size: 0.85rem;
  color: #fff;
  background-color: var(--c-tags);
}

.tags > li:not(:first-child) {
  margin: 0 0.25em;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 0 1em 0;
  font-size: 0.8rem;
}

.options {
  display: flex;
  justify-content: space-between;
  padding: 2em 1em 1em 1em;
  width: 100%;
}

.options > button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
