.container * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: left;
  text-decoration: none;
}

.container {
  --pX: 1.5em;
  --c-bg: var(--c-lightPost);
  --c-avatar-bg: var(--c-blue);
  --c-font: var(--c-dark);

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 30em;
  min-width: 300px;
  margin: 2em auto 0 auto;
  padding: 1em 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--c-bg);
}

.avatar {
  object-fit: cover;
  object-position: center;
  width: 3em;
  height: 3em;
  background-color: var(--c-avatar-bg);
  border-radius: 100%;
}

.userContainer {
  color: var(--c-font);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5em 0 var(--pX) var(--pX);
}
.userContainer:hover .avatar {
  background-color: var(--c-enfasis);
}

.userContainer > div {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 1em;
}
.userContainer .username {
  font-weight: bold;
}
.userContainer .github {
  margin-top: 0.25em;
  font-size: 0.9rem;
}

.postBody {
  margin: 0 var(--pX) 0 var(--pX);
}

.mainContent {
  position: relative;
  max-height: 4.5em;
  overflow-y: hidden;
  transition: all 0.25s;
  margin: 0 auto;
}

.expand {
  max-height: max-content;
}

.text {
  font-size: 1rem;
  line-height: 1.45rem;
  margin: 0.5em 0 0 0;
}

.seeMore {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  padding: 0.5em 0.5em 0 0.5em;
  border: none;
  background-color: var(--c-lightPost);
  color: var(--c-light-blue);
  font-size: 0.9rem;
  cursor: pointer;
}
.seeMore > span {
  margin-right: 0.25rem;
}
.seeMore:hover {
  color: var(--c-enfasis);
}

.postImage {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  background-color: #aaa;
  margin: 2em 0 0 0;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--pX) 1em var(--pX);
}

.tags > li {
  list-style: none;
  padding: 0.25em 1em;
  font-size: 0.85rem;
  color: #fff;
  background-color: var(--c-blue);
  border-radius: 4px;
}

.tags > li:not(:first-child) {
  margin: 0 0.25em;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 0 1em 0;
  font-size: 0.8rem;
}

.options {
  display: flex;
  justify-content: space-between;
  padding: 1.25em var(--pX) 1em var(--pX);
  width: 100%;
}

.options > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 0.9rem;
  font-weight: 300;
  cursor: pointer;
}

.icons {
  margin-right: 0.5em;
}

.newCommentContainer {
  width: 100%;
  background-color: #fafafa;
  padding: 0.5em var(--pX) 0 var(--pX);
}

.newComment {
  display: flex;
  width: 100%;
  margin: 0.5em auto 0 auto;
  border: 1px solid #0002;
  border-radius: 5px;
  overflow: hidden;
}
.textarea {
  border: none;
  width: 100%;
  height: 2.5rem;
  resize: none;
  padding: 1em;
}
.newComment > button {
  background-color: #f0f0f0;
  padding: 0 var(--pX);
  border: none;
}
.newComment > button:hover {
  background-color: var(--c-blue);
}
.newComment > button:hover .icons {
  color: #fff;
}

.icons {
  transform: translateX(4px);
  width: 1.25em;
  height: 1.25em;
}

.maxLength {
  font-size: 0.8rem;
  color: #888;
  width: 90%;
  margin: 0 auto;
  text-align: right;
}

.disabled {
  color: #aaa;
  cursor: default;
}
