.inputData {
  position: relative;
  display: flex;
  align-items: center;
  background: #f8f8f8;
  height: 2em;
  border-radius: 1em;
  padding: 0 1em;
}

.inputData input {
  border: none;
  background: transparent;
  outline: none;
  color: #595959;
  font-size: 14px;
  line-height: 32px;
}

.inputData:focus-within {
  outline: 2px solid var(--c-blue);
}
