.container {
  display: flex;
  align-items: center;
  gap: 1.5em;
  cursor: pointer;
}

.column {
  display: flex;
  flex-flow: column wrap;
  gap: 0.25em;
}

.container .username {
  font-weight: bold;
  font-size: 1rem;
}

.container img {
  object-fit: cover;
  object-position: center;
  display: block;
  line-height: 0;
  padding: 0;
  box-shadow: var(--bs-blue);
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
}

.other {
  font-size: 0.9rem;
  font-weight: 300;
  color: #888;
}

.noImage {
  border: none !important;
  box-sizing: border-box;

  background: #55aaff;
}
