.container {
  display: flex;
  align-items: center;
  gap: 1.5em;
  cursor: pointer;
}

.column {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 0.25em;
}

.container .username {
  font-weight: bold;
  font-size: 1rem;
}

.container img {
  object-fit: cover;
  object-position: center;
  display: block;
  line-height: 0;
  padding: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
}

.other {
  font-size: 0.9rem;
  font-weight: 300;
  color: #888;
}

.noImage {
  /*box-shadow: var(--bs-blue);*/
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-sizing: border-box;
  background: var(--c-blue);
}

.small img {
  width: 2rem;
  height: 2rem;
}

.small .username {
  font-size: 0.9rem;
}

.small .other {
  font-size: 0.8rem;
}
