
.container{
    position: fixed;
    left: 4%;
    top: 14%;
    border-radius: 8px;
    background-color:rgb(255, 255, 255);
    height: 65%;
    width: 20%;
    padding: 1%;
}

.container img{
    display: block;
    margin: auto;
    margin-bottom: 4%;
}

.container span{
    display: flex;
    text-align: center;
    font-weight: bold;
    padding: 1em;
}

.container button{
    display: flex;
    margin-top: 4%;
    width: 100%;
    background-color: #4A9BBD;
    border-radius: 4px;
    color: white;
    border: none;
    font: inherit;
    padding: 0;
    cursor: pointer;
}

