.container {
  --p: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--p) 0 0;
  gap: var(--p);
  margin: 0 0 0 auto;
  height: calc(100vh - 4em);
  background-color: #fff;
}

.container > img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: calc(100vh - 4em);
}
