.navbar * {
  text-decoration: none;
  color: var(--c-dark);
  list-style: none;
}

.navbar {
  background: #fff;
  position: sticky;
  width: 100%;
  z-index: 10;
  top: 0;
}

.nav {
  width: 95vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

.left {
  width: 25vw;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.right {
  width: 25vw;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1rem !important;
}
.brand > img {
  width: 0.95em;
  margin: 0 1em 0 0;
}
.brand > span {
  font-weight: 300;
  color: #aaa;
}

.menu {
  display: flex;
  position: relative;
  gap: 1em;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}

.nav__link {
  border: none;
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 3em;
  font-size: 1em !important;
  border-bottom: 2px solid transparent;
  transform: translateY(0);
  transition: all 0.25s ease;
}

.nav__link:hover {
  transition: all 0.25s;
  transform: translateY(-7px);
}
.nav__link::after {
  display: none;
  content: "";
  position: absolute;
  bottom: -1em;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0.5em;
  height: 0.5em;
  border-radius: 100%;
  background-color: transparent;
  transition: all 0.25s;
}

.nav__link:hover::after {
  display: block;
  bottom: -0.5em;
  background-color: var(--c-blue);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.signup,
.logout {
  padding: 0.5em 0;
}

.signup {
  background-color: var(--c-blue);
  box-shadow: 0 0.25em 1em var(--c-blue);
  color: #fff;
  min-width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 5em;
}

.profile__container {
  position: relative;
}

.profile,
.profile__menu {
  border: none;
  background-color: #fff;
}

.profile__menu {
  box-shadow: 0 0.25rem 0.5rem #0001;
  position: absolute;
  top: 110%;
  right: 0%;
  width: 100%;
  min-width: 10em;
  transform: translate(0, 0);
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
  transition: all 0.25s;
}

.profile__menu__res {
  display: none;
}

.profile__link {
  height: 2rem;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5em;
  border: none;
  background-color: transparent;
  text-align: right;
  font-size: 0.95rem;
  cursor: pointer;
  margin: 0.25em 0 0 0;
}

.profile__link::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%;
  transform: translate(0, 0);
  width: 2px;
  border-radius: 0;
  background-color: var(--c-blue);
  transition: all 0.25s;
}

.profile__link:hover::after {
  width: 1rem;
}

.show {
  display: flex;
  height: max-content;
}
.show > * {
  opacity: 1;
}

.hide {
  height: 0;
  opacity: 0;
}
.hide {
  display: none;
}

/* Notifications */
.counter {
  width: 16px;
  height: 16px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: 0px;
}

.notifications {
  position: absolute;
  width: max-content;
  top: 60px;
  right: 0;
  background-color: white;
  color: black;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .profile__menu__res {
    display: block;
  }
  .nav {
    gap: 1em;
  }
  .left,
  .right {
    width: max-content;
  }
}

.markRead {
  background-color: #89b2ff;
  color: #fff;
  margin: 0 0 1em 0;
  border: none;
  padding: 0.5em;
  transition: all 0.25s;
}
.markRead:hover {
  background-color: var(--c-blue);
}

.landing * {
  color: #1e1e1e;
}
.landing {
  position: fixed;
  background: transparent;
  box-shadow: none;
  border: none;
}
.landing .profile {
  background-color: transparent;
}
.landing .right {
  display: none;
}

.active {
  border-bottom: 2px solid var(--c-blue);
}

.active:not(.signup),
.active * {
  transform: none;
  cursor: default;
  color: #aaa;
}

.active:hover {
  transform: none;
}
.active:hover::after {
  display: none;
}
