.navbar * {
  text-decoration: none;
  color: var(--c-dark);
  list-style: none;
}

.navbar {
  background: #fff;
  position: sticky;
  width: 100%;
  z-index: 10;
  top: 0;
  box-shadow: 0 0.25em 0.5em #0001;
}

.nav {
  width: 85%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.25rem;
}
.brand > img {
  width: 0.95em;
  margin: 0 1em 0 0;
}
.brand > span {
  font-weight: 300;
  color: #aaa;
}

.menu {
}

.right {
  display: flex;
  align-items: center;
  gap: 1em;
}

.link {
  position: relative;
  padding: 0.5em 1em;
}
.link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  width: 1em;
  background-color: var(--c-blue);
  height: 2px;
  transition: all 0.25s;
}

.active::after {
  width: 100%;
  background-color: var(--c-blue);
}

.landing * {
  color: #fff;
}
.landing {
  position: fixed;
  background: transparent;
  box-shadow: none;
}
