header * {
  text-decoration: none;
}

header {
  background: #fff;
  position: sticky;
  z-index: 10;
  top: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

label.logo {
  color: #1e1e1e;
  font-weight: bold;
}

nav ul li {
  display: inline-block;
  margin: 0 5px;
}

nav ul li .link {
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  border: 1px solid var(--c-blue);
  color: var(--c-blue);
}

.link:hover {
  background: var(--c-blue);
  color: #fff;
  transition: 0.25s;
}
