.container {
  --p: 5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  margin: 0 0 0 auto;
  background-color: #fff;
  width: 25em;
}

.container {
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 0.25em 1em #0002;
}

.container > form {
  padding: 2.5em 5em;
  align-items: center;
}

.container button[type="submit"] {
  border-radius: 0;
}

.container label {
  display: block;
  margin: 1em 0 0 0;
}

.dots {
  margin: 1em 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.dot {
  display: block;
  list-style: none;
  width: 0.5em;
  height: 0.5em;
  border-radius: 100%;
  background-color: #aaa;
  cursor: pointer;
  transition: all 0.25s ease;
}
.active {
  cursor: default;
  background-color: var(--c-blue);
  width: 1em;
  height: 1em;
}

.card-check{
  padding: 2.5em 5em;
}

.card-check > div {
  border-radius: 50%;
  height: 7em;
  width: 7em;
  margin: 0 auto;
  background-color: #F8FAF5;
}

.card-check div > i {
  user-select: none;
  color: #9ABC66;
  font-size: 5em;
  margin-left: 0.2em;  
}

.card-check h1, .card-check p{
  text-align: center;
} 

.container form  p {
  font-size: 0.7em;
  color:#8e8e8e;
  text-align: center;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > div {
  color: #8e8e8e;
  position: relative;
  display: inline-block;
}

.strike > div:before,
.strike > div:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #8e8e8e;
}

.strike > div:before {
    right: 100%;
    margin-right: 15px;
}

.strike > div:after {
    left: 100%;
    margin-left: 15px;
}